.auth-page {
  height: 100vh;
  position: relative;
}

.auth-form-wrapper {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 250px;
}

.auth-form > div:not(:last-child) {
  margin-bottom: 20px;
}

.auth-user-switch {
  display: flex;
  justify-content: center;
}